.movies {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 180px));
  grid-auto-flow: row;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  place-items: center;
  align-content: center;
  justify-content: space-evenly;
  padding: 0 100px;
}
