.input {
  height: 50px;
  width: 100%;
  padding: 0 20px;
  //  margin: 20px 100px;
  background-color: $feems-gray;
  border: none;
  border-radius: 5px;
  color: $feems-white;
  color: $feems-white;
}

.btn {
  background-color: $feems-red;
  color: $feems-white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
}

.movie-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 180px));
  grid-auto-flow: row;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  place-items: center;
  align-content: center;
  justify-content: space-evenly;
  padding: 0 100px;
}

.loading {
  text-align: center;
}

.search-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

@media (max-width: 480px) {
  .input {
    margin: 0;
    width: 100%;
  }

  .search-container {
    display: flex;
    justify-content: space-between;
    margin: 20px 20px;
  }
}
