@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

$title: 64px;
$body: 24px;
$sub-title: 18px;
$small-info: 14px;

$oswald: "Oswald", sans-serif;
$open-sans: "Open Sans", sans-serif;

$feems-red: #ff0000;
$feems-white: #ffffff;
$feems-black: #000000;
$feems-gray: #1d1d1d;

 