.detail-page {
  margin-left: 100px;
}

.movie-header {
  color: $feems-white;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .left-part {
    .producer {
      display: flex;
      margin-top: 40px;
      margin-bottom: 40px;
      .bar {
        width: 5px;
        background-color: $feems-red;
        margin-right: 10px;
      }
      .text {
        font-size: sub-title;
        max-width: 400px;
      }
    }

    .title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      h1 {
        font-size: title;
        margin-bottom: 30px;
      }
      p {
        position: relative;
        background-color: red;
        position: absolute;
        top: 0;
        right: 0;
        writing-mode: vertical-lr;
        padding: 10px;
        color: $feems-white;
      }
    }

    .genre {
      margin-bottom: 25px;
      span {
        margin: 0 15px 0 10px;
      }
    }

    .synopsis {
      font-size: body;
      max-width: 500px;
      line-height: 2.5rem;
      margin-bottom: 48px;
    }
    .language {
      margin-top: 20px;
    }
    .rating{
      display: flex;
      align-items: center;
      margin-top: 10px;
    }
.star{
  height: 20px;
  width: 20px;
  margin-right: 10px;
}
    .company{
      margin-right: 10px;
    }
  }
  .right-part {
    max-width: 600px;

    img {
      position: relative;
      top: 80px;
      right: 80px;
      width: 100%;
      height: auto;
      z-index: -1;
    }
  }
}
@media (max-width: 480px) {
  .detail-page {
    margin-left: 20px;
    margin-right: 20px;
  }
  .movie-header {
    flex-direction: column;
    .left-part{
    .synopsis{
        margin-bottom: 10px;
    }
    }
    .right-part {
      max-width: 100%;
      margin-top: 60px;
      margin-bottom: 100px;
      img {
        position: static;
        top: 0;
        right: 0;
      }
    }
  }
}
